.nav{
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;

    &__ul{
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo{
        display: block;
        height: 7rem;
        
        @media screen and (min-width: 56.25em){
            height: 8rem;
        }

        img{
            height: 100%;
        }
    }
    &__link{
        margin:0 0.5rem;
        font-size: 1.1rem;
        text-decoration: none;
        padding: 1rem;
        display: block;
        background-color: transparent;
        color: $blue;
        transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
        border-radius: 0.2rem;

        @media screen and (min-width: 56.25em){
            font-size: 1.3rem;
        }

        &:hover{
            background-color: $blue;
            color: $black;
            box-shadow: 0 0 20px $blue;
        }
    }
}